body {
    color: rgb(0, 255, 0);
    background-color: rgb(153, 0, 255);
    font-family: Helvetica,Arial,sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
}

#summary {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

